.vid-grid-header {
  padding: 14px 0 24px 0;

  &:first-child {
    margin-top: 10px;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.vid-grid {
  display: flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 0 24px 4px;
  }
}
