.vid-grid-header {
  padding: 28px 0 24px 4px;

  &:first-child {
    padding-top: 24px;
  }

  .title {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.vid-grid {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  & > * {
    margin: 0 0 24px 4px;
  }
}
