.watch-grid {
  display: grid;
  grid-template: auto auto auto 1fr / minmax(0, 1280px) 402px;
  justify-content: center;
  column-gap: 24px;
  row-gap: 8px;
  padding: 24px 24px 0 24px;

  .video {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .metadata {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .vid-info-box {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .comments {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }

  .related-vids {
    grid-column: 2 / 3;
    grid-row: 1 / span 4;
  }
}
