@import "../../styles/shared.scss";

.home {
  margin: $header-height 0 0 $sidebar-width;
  font-family: Roboto, Arial, sans-serif;
}

.responsive-vid-grid-container {
  max-width: 95%;
  margin: 0 auto;
}
