@import "../../styles/shared.scss";

.ui.menu.top-menu {
  border: none;

  .logo {
    width: $sidebar-width;
    h2 {
      margin: auto 0 auto 3px;
    }
  }

  .nav-container {
    justify-content: space-evenly;
    flex-grow: 1;
    padding: 0;
    .search-input {
      padding-left: 0;
      width: 50%;
      form {
        width: 100%;
      }
    }
  }

  .header-icon {
    color: #a0a0a0;
  }
}
